<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> InstaWeb </title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'instaWeb/style.css' %}" />
</head>
<body>
<header class="top-bar top-bar-new">
    <div  class="top-bar-wrapper">
        <div  class="logo">
            <a  href={% url 'instaWeb:home' %}>Instagram</a>
        </div>
        <div  class="top-bar-left">
            <ul  class="top-bar-actions">
                <li ><a href={% url 'instaWeb:home' %} title="Home" class="link-active top-bar-home"><i></i></a></li>
            </ul>
            <ul class="bluebar-menu-items"></ul>
        </div>
        <div id="top_bar_right" class="top-bar-right account-state">
            <ul class="top-bar-actions">
                <li  class="link-profile">
                    <a  href="javascript:;" id="_dropdownContext0">
                       <strong >{{ user.username }}</strong></a>{% if user.is_authenticated %}<a href="{% url 'instaWeb:logout' %}">Logout</a>{% endif %}<br /><span></span></li></ul></div></div></header>
<div data-reactid=".0.0.2" class="main"><div data-reactid=".0.0.2.0" class="wrapper">
<div class="timelineContainer" data-reactid=".0.0.2.0.0">
    <div class="timelineSidebar" data-reactid=".0.0.2.0.0.0:$media1001318874075064188:0.0">
        <div class="timelineBookmark" data-reactid=".0.0.2.0.0.0:$media1001318874075064188:0.0.0">
        </div>
    </div>
    <div class="timelineCenter" data-reactid=".0.0.2.0.0.0:$media1001318874075064188:0.1">

    </div>
</div>
</div>
</body>
</html>