body {
        background: url("images/body_noise.png") repeat scroll 0px 0px transparent;
        width:100%;
    font-family: "proxima-nova","Helvetica Neue",Arial,Helvetica,sans-serif;
}
.lpDialog {
    border-radius: 4px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background: none repeat scroll 0% 0% #FDFDFD;
    border: 1px solid #A4BACA;
    width: 400px;
}
.lpDialogOuter, .lpDialog {
    position: relative;
    margin: 0px auto;
}
.lpDialogOuter {
    text-align: left;
}
.lpDialogHeader {
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px -1px 0px #06365F inset, 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
    background-color: #517FA4;
    background-position: 50% 50%;
    border-width: 1px 1px 0px;
    border-color: #1C5380;
    border-style: solid;
    color: #FFF;
    font-size: 18px;
    height: 44px;
    margin: -1px -1px 1px;
    position: relative;
    text-align: center;
}
.lpLogo {
    height: 33px;
    left: 50%;
    font-size: 20px;
    margin: -14px 0px 0px -48px !important;
    position: relative;
    top: 50%;
    width: 100px;
}
h1 {
    margin: 40px 0px 20px -1px;
}
h1, h2, h3, h4, h5, h6, th {
    font-weight: 700;
}
h1 {
    font-size: 36px;
    line-height: 40px;
}
.lpMain {
    padding-bottom: 5px;
    font-size: 16px;
}
.lpDialogOuter {
    text-align: left;
}
.lFormContainer {
    padding: 25px 30px 20px;
}
.lfField, .lfActions {
    clear: left;
    min-height: 40px;
}
form p {
    margin-bottom: 10px;
}
p {
    margin: 0px 0px 10px;
}
.lfFieldLabel {
    padding-top: 5px;
    width: 35%;
}
.lfFieldInput {
    width: 65%;
}
.lfFieldLabel, .lfFieldInput {
    display: inline;
    float: left;
}
input, select, textarea {
    border: 1px solid #CCC;
    box-sizing: border-box;
    border-radius: 3px;
}
input {
    padding: 9px 8px 7px;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0px;
}
button, input, select {
    vertical-align: baseline;
}
a, a:visited {
    color: #3F729B;
}
input:focus, select:focus, textarea:focus {
    border-color: #A4BACA !important;
    background: none repeat scroll 0% 0% #F5F7F9;
}
input[type="submit"], input.submit {
    font-weight: 700;
    width: auto !important;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
html .lfSubmit {
    float: right;
}
html .lfSubmit {
    border: 1px solid #3D8B5F;
}
html .lfSubmit {
    background-color: #6BB38A;
    background-image: -moz-linear-gradient(center top , #6BB38A, #3D8B5F);
    background-position: 50% 50%;
    text-shadow: 0px 1px 1px #1E693F;
}
html .lfSubmit, html .lfSubmit:visited {
    color: #FFF;
}
.lIsAlertsEmpty {
    display: none;
}
.lAlerts {
    background-color: rgba(221, 221, 221, 0.15);
    border-bottom-color: #c3cfd9;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-shadow: 0 1px 5px rgba(153, 153, 153, 0.2);
    color: #3f729b;
    line-height: 64px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    vertical-align: middle;
}
.lIsErrorAlert {
    color: #fa364a;
}

.top-bar-new {
    position: relative;
}
.top-bar {
    background-color: #517fa4;
    background-image: url("//instagramstatic-a.akamaihd.net/bluebar/a6d72f8/images/shared/noise-1.png"), -moz-linear-gradient(center top , #517fa4, #306088);
    background-position: 50% 50%;
    border-bottom-color: rgba(4, 40, 71, 0.8);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    height: 43px;
    z-index: 100;
}

.top-bar-wrapper {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 1024px;
    position: relative;
}

.top-bar-new .top-bar-left {
    left: -1px;
}
.top-bar-new .top-bar-left, .top-bar-new .top-bar-right {
    position: absolute;
    top: 0;
}

.top-bar-actions {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.1);
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(255, 255, 255, 0.1);
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.top-bar-actions {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.1);
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(255, 255, 255, 0.1);
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
}
ul {
    list-style-type: square;
}
ol, ul {
    list-style-position: outside;
}

.top-bar-new .top-bar-right {
    right: 0;
}
.top-bar-new .top-bar-left, .top-bar-new .top-bar-right {
    position: absolute;
    top: 0;
}
.account-state, .account-state a, .account-state a:hover {
    color: #fff;
}
.page-footer p, .account-state {
    font-weight: 700;
}

.top-bar-home i {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("//instagramstatic-a.akamaihd.net/bluebar/3afe227/images/shared/shared-assets.png");
    background-origin: padding-box;
    background-position: 6px -194px;
    background-repeat: no-repeat;
    background-size: auto auto;
    left: 0;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    position: absolute;
    top: 0;
}

.top-bar-new .logo {
    left: 50%;
    margin-left: -50px !important;
    position: absolute;
}

.top-bar .logo {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("//instagramstatic-a.akamaihd.net/bluebar/3afe227/images/shared/shared-assets.png");
    background-origin: padding-box;
    background-position: 0 4px;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 35px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: -9999em;
    top: 4px;
    width: 97px;
}
.top-bar-new .logo {
    margin-left: -50px !important;
}

.top-bar-new .top-bar-left {
    left: -1px;
}
.top-bar-new .top-bar-left, .top-bar-new .top-bar-right {
    position: absolute;
    top: 0;
}
.top-bar-left .top-bar-actions {
    display: inline;
    float: left;
}
.top-bar-actions {
    border-left-color: rgba(0, 0, 0, 0.1);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(255, 255, 255, 0.1);
    border-right-style: solid;
    border-right-width: 1px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
ul {
    list-style-type: square;
}
ol, ul {
    list-style-position: outside;
}

.top-bar-actions > li > a:active, .top-bar-actions > li > a.link-active, html.touch .top-bar-actions > li > a.pressed {
    background-color: rgba(6, 54, 95, 0.35);
    border-left-color: -moz-use-text-color;
    border-left-style: none;
    border-left-width: medium;
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.15), 0 0 1px rgba(6, 54, 95, 0.4) inset, 1px 0 1px rgba(6, 54, 95, 0.4) inset;
}
.top-bar-actions > li > a {
    border-right-color: rgba(0, 0, 0, 0.1);
    border-right-style: solid;
    border-right-width: 1px;
    display: block;
    height: 20px;
    padding-bottom: 13px;
    padding-left: 12px;
    padding-right: 11px;
    padding-top: 11px;
    position: relative;
    text-shadow: 0 1px 0 rgba(3, 27, 47, 0.5);
}
.top-bar a, .top-bar a:visited, .top-bar a:hover {
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}
.top-bar-home, .top-bar-home i {
    height: 44px !important;
    width: 44px !important;
}
.top-bar-home {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
}
.top-bar-home, .top-bar-home i {
    height: 44px !important;
    width: 44px !important;
}
.top-bar-home {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
}
a, a:visited {
    color: #3f729b;
}

.timelineFeedPage .main .wrapper {
    max-width: 1024px;
    padding-bottom: 52px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
}
.wrapper {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    position: relative;
    width: 992px;
}
.timelineSidebar {
    float: left;
    padding-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 16px;
    width: 224px;
}
.timelineCenter {
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05) inset, -1px 0 0 rgba(0, 0, 0, 0.05) inset;
}
.timelineCenter {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #e0e1e2;
    background-image: url("//instagramstatic-a.akamaihd.net/bluebar/3afe227/images/shared/noise-2.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-bottom-style: solid;
    border-bottom-width: 0;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgba(0, 0, 0, 0.1);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.1);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.1);
    border-top-style: solid;
    border-top-width: 0;
    margin-left: 224px;
    max-width: 512px;
    min-width: 240px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
}