body {
        background: url("images/body_noise.png") repeat scroll 0px 0px transparent;
        width:100%;
    font-family: "proxima-nova","Helvetica Neue",Arial,Helvetica,sans-serif;
}
.lpDialog {
    border-radius: 4px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    background: none repeat scroll 0% 0% #FDFDFD;
    border: 1px solid #A4BACA;
    width: 400px;
}
.lpDialogOuter, .lpDialog {
    position: relative;
    margin: 0px auto;
}
.lpDialogOuter {
    text-align: left;
}
.lpDialogHeader {
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px -1px 0px #06365F inset, 0px 1px 0px rgba(255, 255, 255, 0.2) inset;
    background-color: #517FA4;
    background-position: 50% 50%;
    border-width: 1px 1px 0px;
    border-color: #1C5380;
    border-style: solid;
    color: #FFF;
    font-size: 18px;
    height: 44px;
    margin: -1px -1px 1px;
    position: relative;
    text-align: center;
}
.lpLogo {
    height: 33px;
    left: 50%;
    font-size: 20px;
    margin: -14px 0px 0px -48px !important;
    position: relative;
    top: 50%;
    width: 100px;
}
h1 {
    margin: 40px 0px 20px -1px;
}
h1, h2, h3, h4, h5, h6, th {
    font-weight: 700;
}
h1 {
    font-size: 36px;
    line-height: 40px;
}
.lpMain {
    padding-bottom: 5px;
    font-size: 16px;
}
.lpDialogOuter {
    text-align: left;
}
.lFormContainer {
    padding: 25px 30px 20px;
}
.lfField, .lfActions {
    clear: left;
    min-height: 40px;
}
form p {
    margin-bottom: 10px;
}
p {
    margin: 0px 0px 10px;
}
.lfFieldLabel {
    padding-top: 5px;
    width: 35%;
}
.lfFieldInput {
    width: 65%;
}
.lfFieldLabel, .lfFieldInput {
    display: inline;
    float: left;
}
input, select, textarea {
    border: 1px solid #CCC;
    box-sizing: border-box;
    border-radius: 3px;
}
input {
    padding: 9px 8px 7px;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0px;
}
button, input, select {
    vertical-align: baseline;
}
a, a:visited {
    color: #3F729B;
}
input:focus, select:focus, textarea:focus {
    border-color: #A4BACA !important;
    background: none repeat scroll 0% 0% #F5F7F9;
}
input[type="submit"], input.submit {
    font-weight: 700;
    width: auto !important;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
html .lfSubmit {
    float: right;
}
html .lfSubmit {
    border: 1px solid #3D8B5F;
}
html .lfSubmit {
    background-color: #6BB38A;
    background-image: -moz-linear-gradient(center top , #6BB38A, #3D8B5F);
    background-position: 50% 50%;
    text-shadow: 0px 1px 1px #1E693F;
}
html .lfSubmit, html .lfSubmit:visited {
    color: #FFF;
}
.lIsAlertsEmpty {
    display: none;
}
.lAlerts {
    background-color: rgba(221, 221, 221, 0.15);
    border-bottom-color: #c3cfd9;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-shadow: 0 1px 5px rgba(153, 153, 153, 0.2);
    color: #3f729b;
    line-height: 64px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    vertical-align: middle;
}
.lIsErrorAlert {
    color: #fa364a;
}

.top-bar-new {
    position: relative;
}
.top-bar {
    background-color: #517fa4;
    background-image: url("//instagramstatic-a.akamaihd.net/bluebar/a6d72f8/images/shared/noise-1.png"), -moz-linear-gradient(center top , #517fa4, #306088);
    background-position: 50% 50%;
    border-bottom-color: rgba(4, 40, 71, 0.8);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    height: 43px;
    z-index: 100;
}

.top-bar-wrapper {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 1024px;
    position: relative;
}

.top-bar-new .top-bar-left {
    left: -1px;
}
.top-bar-new .top-bar-left, .top-bar-new .top-bar-right {
    position: absolute;
    top: 0;
}

.top-bar-actions {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.1);
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(255, 255, 255, 0.1);
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.top-bar-actions {
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.1);
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(255, 255, 255, 0.1);
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
}
ul {
    list-style-type: square;
}
ol, ul {
    list-style-position: outside;
}

.top-bar-new .top-bar-right {
    right: 0;
}
.top-bar-new .top-bar-left, .top-bar-new .top-bar-right {
    position: absolute;
    top: 0;
}
.account-state, .account-state a, .account-state a:hover {
    color: #fff;
}
.page-footer p, .account-state {
    font-weight: 700;
}